/* AdminHome.css */
.bodyAdmin{
    background-color: #6a0572;
}
.admin-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f3eb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-title {
    text-align: center;
    color: #333;
  }
  
  .section {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .section-title {
    margin-bottom: 10px;
    color: #555;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .action-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  
  .stats p {
    margin: 10px 0;
    color: #555;
  }
  
  .highlight {
    font-weight: bold;
    color: #007bff;
  }
  